/*------ Contenedor ------*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 10%;
}

/*------ Tabla ------*/
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

thead th {
    font-weight: bold;
    background-color: #cccccc;
    padding: 10px;
    border: 1px solid black;
}

tbody td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

/*------ Filas ------*/
tbody tr:hover {
    background-color: grey;
    cursor: pointer;
}

/*------ Div de Información ------*/
#info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    width: 80%;
    text-align: left;
}
