/*------ Contenedor ------*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 2%;
    padding-bottom: 8%;
}

h2{
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.dropdown-row {
    background-color: #f9f9f9;
}

.dropdown-content {
    padding: 10px;
    border: 1px solid #ddd;
}


#info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #f9f9f9;
    width: 80%;
}
