/*----- Estilos Generales -----*/
body {
    font-family: "Rethink Sans", sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    background-color: #eff8fb;
    display: flex;
    flex-direction: column;
}

/*------ Barra de Navegacion ------*/
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cccccc;
    z-index: 1000; /* Para asegurarse de que la barra esté siempre por encima del contenido */
}

input {
    width: 100%;
    height: 30px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
}

input::placeholder{
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
}

/* Ajustes específicos de elementos dentro de la navegación */
nav ul li:nth-child(1),
nav ul li:nth-child(2),
nav ul li:nth-child(3) {
    transform: translateX(30%);
    margin-left: auto;
}

nav ul li:nth-child(4) {
    margin-left: 50%;
    transform: translateX(-180%);
}

nav ul li:nth-child(5) {
    margin-right: auto;
    color: red;
    transform: translateX(-130%);
}

nav ul li:nth-child(6) {
    margin-left: 0;
    transform: translateX(-110%);
}

/*----- Links -----*/
a {
    color: inherit;
    text-decoration: none;
}

/*------ Footer ------*/
footer {
    background-color: #cccccc;
    text-align: center;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
}

/*------ Contenido Principal ------*/
main {
    margin-top: 60px; /* Espacio para la barra de navegación */
    flex: 1; /* Para ocupar el espacio restante entre la nav y el footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
