/*----- Estilos Generales -----*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Rethink Sans", sans-serif;
    color: black;
    background-color: whitesmoke;
}

/* Estructura básica para asegurar que el contenido ocupe toda la pantalla */
body {
    display: flex;
    flex-direction: column;
}

/*------ Barra de Navegacion ------*/
header nav {
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos a los extremos */
    align-items: center;
    text-align: center; /* Para alinear verticalmente los elementos */
    background-color: darkgray;
    color: white;
    padding: 10px;
    height: 50px;
}

header nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
}

header nav a:hover {
    background-color: white;
    color: black;
    letter-spacing: 2px;
    transition: 0.7s;
}

.left-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Para que los elementos se comporten como una fila */
}

.left-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

.right-links {
    display: flex; /* Para que los elementos se comporten como una fila */
    align-items: center; /* Para alinear verticalmente los elementos */
}

.right-links input[type="search"],
.right-links button {
    margin-left: 10px;
    padding: 5px;
}

.right-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}

/* Ajustes específicos de elementos dentro de la navegación */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
}

nav ul li:nth-child(1),
nav ul li:nth-child(2),
nav ul li:nth-child(3) {
    transform: translateX(30%);
    margin-left: 4%;
}

nav ul li:nth-child(4) {
    margin-left: 50%;
    transform: translateX(-180%);
}

nav ul li:nth-child(5) {
    margin-right: 5%;
    transform: translateX(-130%);
}

nav ul li:nth-child(6) {
    margin-left: 0;
    margin-right: 0;
    color: red;
    transform: translateX(-110%);
}

/*----- Links -----*/
a {
    color: inherit;
    text-decoration: none;
}

/*------ Contenido Principal ------*/
main {
    flex: 1; /* Para ocupar el espacio restante entre la nav y el footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px; /* Espacio para la barra de navegación */
    padding-bottom: 60px; /* Espacio para el footer */
}

/*------ Etilos tablas ------*/
/*------ Tabla ------*/
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

thead th {
    font-weight: bold;
    background-color: #cccccc;
    padding: 10px;
    border: 1px solid black;
}

tbody td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

/*------ Filas ------*/
tbody tr:hover > * {
    background-color: grey;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

/*------ Div de Información ------*/
#info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    width: 80%;
    text-align: left;
}

/*------ Footer ------*/
footer {
    background-color: darkgray;
    text-align: center;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Imagen en la barra de navegación */
header nav img {
    height: 50px; /* Ajusta este valor según la altura de la barra de navegación */
    width: auto; /* Mantiene la proporción de la imagen */
    image-rendering: optimizeQuality;
    image-rendering: crisp-edges;
}

#LogoSecrets {
    background-color: white;
    transform: translateX(-10%);
    transition: transform 0.7s ease-in-out;
}

#LogoSecrets:hover {
    transform: translateX(10px);
}

/*------ Estilos para los inputs de agregar y búsqueda ------*/
input[type="search"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
    width: 100%;
    height: 30px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 0 10px;
}

input::placeholder {
    text-align: center;
    color: #999;
}

input[type="search"] {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#GlobalSearchButton {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: darkgray;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    width: auto;
}

#GlobalSearchButton:hover {
    background-color: white;
    color: black;
}

form {
    padding-left: 5%;
    padding-right: 10%;
}

#edit-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    width: 40%; /* Ancho ajustado según tus necesidades */
    max-width: 600px; /* Ancho máximo para evitar que sea demasiado grande */
    max-height: 80%; /* Altura máxima del modal */
    overflow-y: auto; /* Habilitar scroll vertical si el contenido excede la altura */
    z-index: 1000;
}

#edit-modal h3 {
    text-align: center;
    margin-top: 0;
}

#edit-modal form {
    padding: 10px;
}

#edit-modal label {
    display: block;
    margin-bottom: 5px;
}

#edit-modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#edit-modal button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#edit-modal button:hover {
    background-color: #0056b3;
}

#quick-add-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    width: 40%; /* Ancho ajustado según tus necesidades */
    max-width: 600px; /* Ancho máximo para evitar que sea demasiado grande */
    max-height: 80%; /* Altura máxima del modal */
    overflow-y: auto; /* Habilitar scroll vertical si el contenido excede la altura */
    z-index: 1000;
}

#quick-add-modal h3 {
    text-align: center;
    margin-top: 0;
}

#quick-add-modal form {
    padding: 10px;
}

#quick-add-modal label {
    display: block;
    margin-bottom: 5px;
}

#quick-add-modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#quick-add-modal button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#quick-add-modal button:hover {
    background-color: #0056b3;
}
